@import url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold-Italic.woff');

body{
	font-family: 'JetBrains Mono', sans-serif;

	margin: 0px;
	padding: 0px;
	border: 0px;
	background: linear-gradient(#2618c4, #150e5e);
	width: 98vw;
	height: 100vh;
}